<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Michel | Blogs</title>
</head>
<style>
        body{
            background-color: darkslategrey;
            /* background-color: #e5e5f7; */
           
            
            background-image:  linear-gradient(#22222230 2px, transparent 2px), linear-gradient(90deg, #22222230 2px, transparent 2px), linear-gradient(#22222230 1px, transparent 1px), linear-gradient(90deg, #22222230 1px, darkslategrey 1px);
            background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
            overflow: auto ;
        }
        
        .background-fill-anim{
            background-color: #80808040;
            opacity: 0.8;
            background: radial-gradient(circle, transparent 20%, darkslategrey 20%,darkslategrey 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, darkslategrey 20%, darkslategrey 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#80808040 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #80808020 2px, darkslategrey 2px) -1px 0;
            background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
        }

        hr{
            max-width: 20lvw;
            margin-left: 0%;
        }
        .blogs{
            font-family: 'Courier New', Courier, monospace;
            color: white;
            margin-left: 20lvw;
            max-width: 65lvw;
            margin-top: 3.5rem;
        }
        .blogs a{
            stroke-width: 0.5lvw;
            font-size: 1.3rem ;
            color: white;
            text-decoration: none;
            transition: 0.2s;
        }
        .blogs a:hover{
            stroke-width: 0.5lvw;
            font-size: 1.35rem ;
            color: white;
            text-decoration: none;
            transition: 0.2s;
        }
        .blog{
            margin-bottom: 1.5lvh;
            margin-top: 1.5lvh;
            padding-top: 1.5lvh;
            padding-top: 1.5lvh;
        }
        .Date{

            padding-top: 0%;
            margin-top: 0%;
            color: lightslategrey;
        }
        .topics{
            font-family:'Courier New', Courier, monospace;
            color: white;
        }
        .description{
            font-size: 0.9rem;
        }
</style>
<body >
    <%- include('partials/navbar') %>
    <div class="blogs">
        
        <% if (blogs.length == 0) { %>
            
            <h1 style="margin-top: 20%;">I'm still writing and publishing blogs, visit later!</h1>
            <p>or play this <a href="/minigame">minigame</a></p>

        <% } else { %>


            <% blogs.forEach(blog => { %>
            <div class="blog">
                <a href="/b/<%-blog.blog_id%>"><%- blog.blogTitle%></a>
                <p class="Date"><%= blog.createdAt%></p>
                <div class="topics">
                    <% blog.topics.forEach(topic => { %>
                        #<%- topic.topic%>
                    <% }) %> 
                </div>
                <p class="description"><%- blog.blogDescription%></p>
            </div>
            <hr>
        <% }) %>



        <%}%>
         

        

    </div>
    
</body>
</html>